.grid{
    text-align: center;
    display:grid;
    margin-top: 10%;
    justify-content: center;
   
     height: 100%;
     width: 100%;
    gap: 2em;
    grid-template-columns:repeat(auto-fill, 35em);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    
}

.link{
    word-break: break-world; 
    color: blue;
}

.grid3Item{
    height: 200px;
    width: 250px;
}