/*.home{
    display: flex;
    
 
}



.logo{
    
    display: block;
    margin-top: 30%;
}






.text{
    margin-left: 10%;
  
    margin-top: 20%;
}

.twitter{
    margin-left: 4%;
    height: 35px;
}


@media (max-width: 576px) {
    .home{
        flex-direction: column-reverse;
    
     }
     .logo{
        display: block;
        margin-right: auto;
        margin-left: auto;
       }
 

    .text {
        display: block;
        margin-top: 0%;
        text-align: center;
        word-break: break-world; 
        margin-left: auto;
        margin-right: auto;
    }
    .imageContainer img{
     height: auto;
     width: 100%;
    
    }
}

*/


.image{
    height: 100%;
    width: 100%;
}

.home{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: auto;
    grid-template-areas: "texto fotologo""redes fotologo";
    
    gap: 30px;
   
 
   
  
}
 


.texto , .redes{
  margin-left: 1.80em;
    
}



.home .redes{
    grid-area: redes;
 

}
.fotologo{
    grid-area: fotologo;
    margin-right: 20px;
}

.twitter{
height: 36px;
   margin-left: 10px;
}

.redes img:hover{
    scale:1.3;
  

    animation-duration: 1s;
    animation-fill-mode: both;
   
    transition: all .4s ease-in-out;                 
    
    
    
}



                            @keyframes tada {
                                0% {
                                    transform: scale(1);
                                }
                                10%, 20% {
                                    transform: scale(0.9) rotate(-3deg);
                                }
                                30%, 50%, 70%, 90% {
                                    transform: scale(1.1) rotate(3deg);
                                }
                                40%, 60%, 80% {
                                    transform: scale(1.1) rotate(-3deg);
                                }
                                100% {
                                    transform: scale(1);
                                }
                            }
                            
                            .tada {
                                animation-name: tada;
                                animation-duration: 1s;
                                animation-fill-mode: both;
                               
                            }

                          



@media (max-width: 576px) {
    .home {
        grid-template-areas: "texto" "fotologo" "redes fotologo";
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        margin-top: 5%;
        
    
        
        justify-items: center;
        
   
    }
    .texto{
      
        word-break: break-word; 
        text-align: center;
    }

    
}
