.image{
    height: 100%;
    width: 100%;
}

.home{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 35em);
    grid-template-rows: auto;
    grid-template-areas: "texto fotologo""redes fotologo" ;
    
    gap: 4em;
   
    justify-items: center;
         
    align-items: center;

    justify-content: center;
}
 

  .texto{
    align-items: center;
    margin-right: auto;
  }


.redes{
    align-items: center;
    margin-right: auto;
    grid-area: redes;
 

}
.fotologo{
    grid-area: fotologo;
   
}

.logo{
    height: 36px;
    margin-left: 10px;
}

.logo:hover{
    scale:1.3;
  

    animation-duration: 1s;
    animation-fill-mode: both;
   
    transition: all .4s ease-in-out;                 
    
    
    
}


                          

@media (max-width: 100em ) {
    .home {
        grid-template-areas: "texto" "fotologo" "redes" ;
       
        margin-top: 5%;
        
        grid-template-columns: repeat(auto-fill, 10em , 1fr); /* Uma coluna em telas menores */
        
        justify-items: center;
         
        justify-content: center;
   
    }
    .texto, .redes{
        display: block;
        margin-left: auto;
        margin-right: auto;
        word-break: break-word; 
        text-align: center;
    }

    
    
}



