body{
  background-color: #F6FCFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a,nav {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family:"Montserrat", sans-serif;


}



h1,h3, p{
 color: #445964;
 
}
span{
  color:darkgrey;
}


.container{

  background-color: #05f6d6;
  background-color: #50D7D7;
  background-color: #F6FCFF;
  padding: 5px;
  border-radius: 5px;


}





